.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #b1bdce;
   
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    background-color: #E2E8F0;
}
.list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
    border: 1px solid silver;
    margin: 20px;
    padding: 20px;
    background: #CBD5E1;
   
}
.rightContainer{
    display: flex;
    justify-content:right;
    background-color: #E2E8F0;
    text-align: center;
    
}